.navcolor {background-color: rgba(255, 255, 255);}
.logo {width: 140px; height: 80px;}

.category-slide {
  cursor: pointer;
  transition: 0.3s;
}
.category-slide:hover {
  background-color: #043e2f;
  color: #fff;
  transform: scale(1.05);
}

.form-select {
  width: 150px;
}



